@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link-class {
    @apply border-b border-white py-1 px-2 hover:border-ebmaa-purple transition duration-300; 
  }
  .btn-class {
    @apply border rounded border-gray-400 py-1 px-2 hover:border-ebmaa-purple transition duration-300; 
  }
  .active-link {
    @apply border-ebmaa-purple border-b;
  }

  .container-col {
    @apply flex flex-col gap-6 p-4 mt-4 bg-white shadow rounded w-full;
  }

  .container-row {
    @apply flex flex-row gap-6 p-4 my-4 bg-white shadow rounded w-full;
  }
}
 /* text-sm text-center min-w-[100px] rounded hover:border hover:border-ebmaa-purple */

* {
  padding: 0;
  margin: 0;
  font-family: arial, helvetica, sans-serif, MS Sans Serif;
}

body, html {
  /* background: #eee; */
  background: #f7f7f7;
}