@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link-class {
    @apply border-b border-white py-1 px-2 hover:border-ebmaa-purple transition duration-300; 
  }
  .btn-class {
    @apply border rounded border-gray-light py-1 px-2 hover:border-ebmaa-purple transition duration-300; 
  }
  .active-link {
    @apply border-ebmaa-purple border-b;
  }
}
 /* text-sm text-center min-w-[100px] rounded hover:border hover:border-ebmaa-purple */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: arial, helvetica, sans-serif, MS Sans Serif;
}

body, html {
  background: #eee;
}